

/*for mobile*/
@media (max-width: 767px) {
    body{

        font-family: 'Roboto', sans-serif;
        
    
    }
    
    h3{
    
        font-family: 'Roboto', sans-serif;
        font-size: 33px;
        margin: 0px;
        margin-top: 0px;
    }
    
    .prothom-section-div{
        width: 42%;
        float: left;
        padding: 5px;
        margin-top: 89px;
    
    
    }
    h1{
    
        font-size: 40px;
        color: #EC4C7A;
        font-family: 'Patua One', cursive;
    }
    
    .first{
    
        background-image: url(../personal-website/Images/header-bg.png);
        
        background-position: center;
        background-size: 100% 100%;
        height: 600px;
        
        background-repeat: no-repeat;
        padding-top: 10px;
        padding-bottom: 20px;
       
       
    }
        p{
    
    color: gray;
    font-weight: 300px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
        padding: 15px 0px;
    
        }
        
     
    
        #prothom {
            margin-left: 14px;
            margin-top: 100px;
        
    
       }
      
    
    
        .AllImages {
            display: block;
            width: 174px;
            margin-top: 200px;
    
    
    }
    
    button{
    
    background-image: linear-gradient(#EC4C7A, #ED4B72);
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600px;
    border: 1px solid transparent;
    transition: all 0.6s;
    }
    button:hover{
    
        background-image: linear-gradient(#EC4C7A, #ED4B72);
        padding: 15px 35px;
        border-radius: 7px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 700px;
        transform: scale(1.1);
        border: 1px solid transparent;
        }
    .second{
    
    background-image: url(../personal-website/Images/biography-bg.png);
    background-size: 100% 100%;
    background-position: center right;
    height:700px;
    padding: 20px;
    padding-left: 200px;
    background-position: center;
    }
    
    .second-section-div{
    
    width: 40%;
    float: left;
    padding:10px;
    
    }
    
    .second-section-div img{
        margin-left: -161px;
        width: 400%;
    
    }
    
    .second-section-div h3{
    
        margin-top: 30px;
    margin-left: -101px;
    }

    .second-section-div p{

        margin-left: -138px;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    }

    .second-section-div button{

        margin-left: -106px;
    }
    .third{
    
    width: 100%;
    padding-top:5px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;;
    margin: 0px;
    background-image: url(../personal-website/Images/latest-work-bg.png);
    background-size: 100% 100%;
    background-position: center;
    height: 650px;
    
    }

    .third h3{

        margin-left: -30px;
        margin-top: 30px; 
    }
    
    .third-section-dev{
    
        display: block;
        text-align: justify;
        width: 83.03%;
        margin-top: 34px;
    
    
    }
    
    .third-section-dev img{
    margin: 10px;;
    width: 100%;
    }
    
    .third-section-dev h3{
    
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        margin: 0px;
        margin-top: 10px;
       
    }


    
    .clientp{
    
    
    color: black;
    
    
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 0.015em;
    }
    
    .thirdh{
    
    font-family: 26px;
    
    
    }
    
    .third button{
    
    
        background-image: linear-gradient(#EC4C7A, #ED4B72);
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 10px;
        border-radius: 5px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 600px;
        border: 1px solid transparent;
        text-align: center;
        display: block;
      width: 100%;
    }
    
    .four{
    
    
        padding-right: 420px;
        padding-left: 420px;
        background-image: url(../personal-website/Images/footer-bg.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 850px;
    }
    
    .jhamela{
    
    border: 2px solid transparent;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 40px;
    transition: all 0.6s;
    ;
    
    }
    
    .jhamela:hover{
    
        border: 2px solid transparent;
        border-radius: 13px;
        padding-top: 20px;
        padding-bottom: 45px;
        transform: scale(1.1)
        ;
        
        }
    .jhamela p{
    
        color: white;
       
    font-family: 'Poppins', sans-serif;
    
        font-weight: 400;
    }
    
    span{
    
    
        
        font-size: 25px;
    margin-top: 30px;
    }
    
    
    #hola{
    
        font-family: 'Poppins', sans-serif;
        padding-top: 10px;
        color: black;
        font-weight: 600;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        transition: all 0.6s;
        box-shadow: black;
    }
    
    #hola:hover{
    
        background-color: darkgoldenrod;
        color: black;
        font-family: 'Poppins', sans-serif; font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        font-weight: 700;
        padding-right: 30px;
        text-align: center;
        transform: scale(1.1);
        border: 1px solid black;
    }
    
    
    #hola a{
    
    
        text-decoration: none;
        color: black;
    }
    
    #hola a;:hover{
        text-decoration: none;
        color:
    goldenrod;    font-size: 20px;
    
    }
    

}


/*for tablet----------------------------------------------------------------------
_-----------------------------------------------------------------------------
----------------------------------------------------------------------------
----------------------------------------------------------------------
_-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/

@media (min-width: 768px) {
    body{

        font-family: 'Roboto', sans-serif;
        
    
    }
    
    h3{
    
        font-family: 'Roboto', sans-serif;
        font-size: 33px;
        margin: 0px;
        margin-top: 100px;
    }
    
    .prothom-section-div{
    width: 40%;
    float: left;
    padding: 10px;
    margin-top: 80px;
    
    
    }
    h1{
    
        font-size: 40px;
        color: #EC4C7A;
        font-family: 'Patua One', cursive;
    }
    
    .first{
    
        background-image: url(../personal-website/Images/header-bg.png);
        
        background-position: center;
        background-size: 100% 100%;
        height: 900px;
        
        background-repeat: no-repeat;
        padding-top: 10px;
        padding-bottom: 20px;
       
       
    }
        p{
    
    color: gray;
    font-weight: 300px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
        padding: 15px 0px;
    
        }
        
       #prothom{
    
    margin-left: 300px;
    margin-top: 100px;
    
       }
      
    
    .AllImages{
    width: 60%;
    text-align: left;
    
    
    }
    
    button{
    
    background-image: linear-gradient(#EC4C7A, #ED4B72);
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600px;
    border: 1px solid transparent;
    transition: all 0.6s;
    }
    button:hover{
    
        background-image: linear-gradient(#EC4C7A, #ED4B72);
        padding: 15px 35px;
        border-radius: 7px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 700px;
        transform: scale(1.1);
        border: 1px solid transparent;
        }
    .second{
    
    background-image: url(../personal-website/Images/biography-bg.png);
    background-size: 100% 100%;
    background-position: center right;
    height:700px;
    padding: 20px;
    padding-left: 200px;
    background-position: center;
    }
    
    .second-section-div{
    
    width: 40%;
    float: left;
    padding:10px;
    
    }
    
    .second-section-div img{
    width: 80%;
    text-align: right;
    margin-left: 50px;
    
    }
    
    .second-section-div h3{
    
        margin-top: 150px;
    }
    .third{
    
    width: 100%;
    padding-top:5px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;;
    margin: 0px;
    background-image: url(../personal-website/Images/latest-work-bg.png);
    background-size: 100% 100%;
    background-position: center;
    
    }
    
    .third-section-dev{
    
    display: inline-block;
    text-align: justify;
    width: 33.03%;
    margin-top:90px;
    
    
    }
    
    .third-section-dev img{
    margin: 10px;;
    width: 100%;
    }
    
    .third-section-dev h3{
    
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        margin: 0px;
        margin-top: 10px;
       
    }
    
    .clientp{
    
    
    color: black;
    
    
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 0.015em;
    }
    
    .thirdh{
    
    font-family: 26px;
    
    
    }
    
    .third button{
    
    
        background-image: linear-gradient(#EC4C7A, #ED4B72);
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 10px;
        border-radius: 5px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 600px;
        border: 1px solid transparent;
        text-align: center;
        display: block;
      width: 100%;
    }
    
    .four{
    
    
        padding-right: 420px;
        padding-left: 420px;
        background-image: url(../personal-website/Images/footer-bg.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 850px;
    }
    
    .jhamela{
    
    border: 2px solid transparent;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 40px;
    transition: all 0.6s;
    ;
    
    }
    
    .jhamela:hover{
    
        border: 2px solid transparent;
        border-radius: 13px;
        padding-top: 20px;
        padding-bottom: 45px;
        transform: scale(1.1)
        ;
        
        }
    .jhamela p{
    
        color: white;
       
    font-family: 'Poppins', sans-serif;
    
        font-weight: 400;
    }
    
    span{
    
    
        
        font-size: 25px;
    margin-top: 30px;
    }
    
    
    #hola{
    
        font-family: 'Poppins', sans-serif;
        padding-top: 10px;
        color: black;
        font-weight: 600;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        transition: all 0.6s;
        box-shadow: black;
    }
    
    #hola:hover{
    
        background-color: darkgoldenrod;
        color: black;
        font-family: 'Poppins', sans-serif; font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        font-weight: 700;
        padding-right: 30px;
        text-align: center;
        transform: scale(1.1);
        border: 1px solid black;
    }
    
    
    #hola a{
    
    
        text-decoration: none;
        color: black;
    }
    
    #hola a;:hover{
        text-decoration: none;
        color:
    goldenrod;    font-size: 20px;
    
    }
    

}

/*for desktop----------------------------------------------------------------------
_-----------------------------------------------------------------------------
----------------------------------------------------------------------------
----------------------------------------------------------------------
_-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/



@media (min-width: 1200px) {

    body{

        font-family: 'Roboto', sans-serif;
        
    
    }
    
    h3{
    
        font-family: 'Roboto', sans-serif;
        font-size: 33px;
        margin: 0px;
        margin-top: 100px;
    }
    
    .prothom-section-div{
    width: 40%;
    float: left;
    padding: 10px;
    margin-top: 80px;
    
    
    }
    h1{
    
        font-size: 40px;
        color: #EC4C7A;
        font-family: 'Patua One', cursive;
    }
    
    .first{
    
        background-image: url(../personal-website/Images/header-bg.png);
        
        background-position: center;
        background-size: 100% 100%;
        height: 900px;
        
        background-repeat: no-repeat;
        padding-top: 10px;
        padding-bottom: 20px;
       
       
    }
        p{
    
    color: gray;
    font-weight: 300px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
        padding: 15px 0px;
    
        }
        
       #prothom{
    
    margin-left: 300px;
    margin-top: 100px;
    
       }
      
    
    .AllImages{
    width: 60%;
    text-align: left;
    
    
    }
    
    button{
    
    background-image: linear-gradient(#EC4C7A, #ED4B72);
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600px;
    border: 1px solid transparent;
    transition: all 0.6s;
    }
    button:hover{
    
        background-image: linear-gradient(#EC4C7A, #ED4B72);
        padding: 15px 35px;
        border-radius: 7px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 700px;
        transform: scale(1.1);
        border: 1px solid transparent;
        }
    .second{
    
    background-image: url(../personal-website/Images/biography-bg.png);
    background-size: 100% 100%;
    background-position: center right;
    height:700px;
    padding: 20px;
    padding-left: 200px;
    background-position: center;
    }
    
    .second-section-div{
    
    width: 40%;
    float: left;
    padding:10px;
    
    }
    
    .second-section-div img{
    width: 80%;
    text-align: right;
    margin-left: 50px;
    
    }
    
    .second-section-div h3{
    
        margin-top: 150px;
    }
    .third{
    
    width: 100%;
    padding-top:5px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;;
    margin: 0px;
    background-image: url(../personal-website/Images/latest-work-bg.png);
    background-size: 100% 100%;
    background-position: center;
    
    }
    
    .third-section-dev{
    
    display: inline-block;
    text-align: justify;
    width: 33.03%;
    margin-top:90px;
    
    
    }
    
    .third-section-dev img{
    margin: 10px;;
    width: 100%;
    }
    
    .third-section-dev h3{
    
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        margin: 0px;
        margin-top: 10px;
       
    }
    
    .clientp{
    
    
    color: black;
    
    
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 0.015em;
    }
    
    .thirdh{
    
    font-family: 26px;
    
    
    }
    
    .third button{
    
    
        background-image: linear-gradient(#EC4C7A, #ED4B72);
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 10px;
        border-radius: 5px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 600px;
        border: 1px solid transparent;
        text-align: center;
        display: block;
      width: 100%;
    }
    
    .four{
    
    
        padding-right: 420px;
        padding-left: 420px;
        background-image: url(../personal-website/Images/footer-bg.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 850px;
    }
    
    .jhamela{
    
    border: 2px solid transparent;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 40px;
    transition: all 0.6s;
    ;
    
    }
    
    .jhamela:hover{
    
        border: 2px solid transparent;
        border-radius: 13px;
        padding-top: 20px;
        padding-bottom: 45px;
        transform: scale(1.1)
        ;
        
        }
    .jhamela p{
    
        color: white;
       
    font-family: 'Poppins', sans-serif;
    
        font-weight: 400;
    }
    
    span{
    
    
        
        font-size: 25px;
    margin-top: 30px;
    }
    
    
    #hola{
    
        font-family: 'Poppins', sans-serif;
        padding-top: 10px;
        color: black;
        font-weight: 600;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        transition: all 0.6s;
        box-shadow: black;
    }
    
    #hola:hover{
    
        background-color: darkgoldenrod;
        color: black;
        font-family: 'Poppins', sans-serif; font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        font-weight: 700;
        padding-right: 30px;
        text-align: center;
        transform: scale(1.1);
        border: 1px solid black;
    }
    
    
    #hola a{
    
    
        text-decoration: none;
        color: black;
    }
    
    #hola a;:hover{
        text-decoration: none;
        color:
    goldenrod;    font-size: 20px;
    
    }
    




}
